{{> head}}
    {{> header}}

    <section class="row container-fluid">
        <div class="col-8">
            <h1>About page</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est dolorem labore distinctio? Quisquam aspernatur commodi, veritatis tempora inventore enim ipsa iusto facere nisi eum autem laborum nobis non est magnam.</p>
        </div>

        <div class="col-4">
            <img src="/assets/img/caneca.jpg" class="img-thumbnail" alt="">
        </div>

    </section>

{{> footer}}
